.body__lib {
    background-color: #121212;
}

.header__lib,
.main__lib {
    margin-left: 35px;
    margin-right: 35px;
}

.body__lib a {
    color: #e5e5e5;
}

.header__lib {
    display: flex;
    margin-top: 60px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 700;
    align-items: center;
    letter-spacing: 1px;
}

.header__lib-column {
    display: flex;
    margin-right: 30px;
}

.main__lib-bar {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.main__lib-column {
    margin-right: 30px;
}

.main__lib-column span {
    padding: 10px;
}

.main__lib-content {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.main__lib-content-1 {
    display: flex;
    width: 340px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
}

.main__lib-content-2 {
    font-size: 16px;
    width: 300px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    opacity: 0.6;
    line-height: 25px;
}

.main__lib-content-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 270px;
    height: 50px;
    background-color: #ffffff;
    color: #060606;
    font-weight: 900;
    border-radius: 30px;
}

@keyframes show {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: none;
    }
}

.main__lib-content {
    animation: show 0.25s linear forwards;
}